<div class="text-center">
    <h1>DICE GAME RULES</h1>

    <p>On each player's turn, they are given an option to ROLL or FOLD.</p>
    
    <h3>ROLL</h3>
    <p>The player places the amount of points specified by BET from their pool into the pot.
    <br>A number is rolled from 1 to the number in DICE. The number in DICE is updated to this newly rolled number.
    </p>
    <ul>
        <li>If the number rolled is 1, the player loses the round and the points in POT are awarded to their opponent.</li>
        <li>If the number rolled is NOT 1, it becomes the other player's turn.</li>
    </ul>
    
    <h3>FOLD</h3>
    <p>The player forfeits the round and the points in POT are awarded to their opponent.</p>
    
    <h3>WINNING THE GAME</h3>
    <p>The game is won by a player when their opponent does not have the sufficient points to make a bet.</p>
    
    <button 
        class="btn btn-primary btn-lg" 
        id="startGameButton" 
        (click)="startGame()">START GAME</button>
</div>

